<div class="container partial">
	<div class="row">
		<div class="col-lg-12">
			<h1>about</h1>
			<p>As an experienced recruiter, I assist in making good career moves.</p>

			<p>With a background in psychology, I have been recruiting talents from all over the world, for over six years.</p>

			<p>Based in Berlin, I have extensive knowledge and experience in the startup and tech scene.</p>

			<p>I recruited internationally for KaufDA – Bonial International Group, placing candidates not only for its European offices, but also the US. I specialised in tech recruitment for Babbel and have worked for agencies in Barcelona and Warsaw.</p>

			<p>I speak English, German, Spanish, French and Polish and am happy to converse in whichever language you prefer.</p>
		</div>
	</div>
</div>
