<div class="container partial">
	<div class="row">
		<div class="col-lg-12">
			<h1>Chess</h1>
			<p>We started playing a year ago, outside by the Maybachufer markets, and decided to create a group where like-minded people with a mutual appreciation for chess can meet up. Now this group of chess enthusiasts plays every two weeks in Buchbund, a cosy bookshop in Neukölln. Everyone is welcome, whether you are a complete beginner or an expert. The atmosphere is social rather than competitive, so don’t be shy!</p>

			<p>At the end of each meetup, we play a 5 minute blitz tournament, where the winner has the opportunity to walk away with a book.</p>

			<p>Join us and help build a great chess community in Berlin!</p>

			<p>We also have a FB group</p>

			<p>Peace, love and check mate.</p>
		</div>
	</div>
</div>
